
<%= render 'header' %>

<h2>Listing Tags</h2>

<table>

<% @tags.each do |i| %>
  <tr>
    <td><%= i.name %></td>
    <td><%= link_to "Show", tag_path(i) %></td>
    <td><%= link_to "Edit", edit_tag_path(i) %></td>
  </tr>
<% end %>
</table>
